<footer class="site-footer">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        © 2020 HummusHacks
      </div>

      <div class="footer-col">
        <a href="https://github.com/{{ site.github_username }}" target="_blank"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' }}"></use></svg> <span class="username">{{ site.github_username }}</span></a>
      </div>

      <div class="footer-col">
        <a href="/disclaimer/">Disclaimer</a>
      </div>
    </div>
  </div>
</footer>