<script>
    const ifr = document.getElementById("challenge-iframe");
    window.addEventListener('load', setup);
    window.addEventListener('load', resizeIframe);
    window.addEventListener('resize', resizeIframe);

    function resizeIframe(event) {
        try {
            ifr.style.height = (ifr.contentWindow.document.body.scrollHeight + 20)+'px';
        } catch {
            return;
        }
    }

    function setup(event) {
        const observerOptions = {
            childList: true,
            attributes: true,
            subtree: true 
        }
        const observer = new MutationObserver(resizeIframe);
        observer.observe(ifr.contentWindow.document, observerOptions);
    }
</script>