
#home-header {
    min-height: $spacing-unit * 1.865;
    height: 6vh;
    position: relative;
    background-color: $brand-color;
}
#home-nav {
    margin-top: 0px;
}


.showcase {
    position: relative;
    background-color: $brand-color;
    text-align: center;
    min-height: 500px;
    height: 90vh;
    z-index: 1;
}

#logo-wrapper {
    position: relative;
    top: 20px;
    width: 100%;
    min-height: 350px;
    height: 50vh;
}
.logo {
    position: absolute;
    display: block;
    margin: 0 auto;
}

#full-logo {
    z-index: 60;
}

#no-text-no-chip {
    z-index: 50;
}

#chip {
    z-index: 40;
    top: -500px;
    -webkit-animation: spindown 2.5s linear;
    -webkit-animation-fill-mode: forwards;
            animation: spindown 2.5s linear;
            animation-fill-mode: forwards;
}

#site-descrip {
    position: relative;
    font-size: large;
}

#learn-more {
    display: block;
    position: relative;
    top: 35px;
    width: 100px;
    padding: 15px;
    margin: 0 auto;
    color: $text-color;
    text-decoration: none;
    line-height: $base-line-height;
    background-color: #7DCE82;

    &:hover {
        background-color: darken($color: #7DCE82, $amount: 10%);
    }
}

#site-descrip, #learn-more {
    color: $background-color;
}

#full-logo, #site-descrip, #learn-more {
    opacity: 0;
    -webkit-animation: fadein 2s linear 2.5s;
    -webkit-animation-fill-mode: forwards;
            animation: fadein 2s linear 2.5s;
            animation-fill-mode: forwards;
} 


.home-content {
    padding: $spacing-unit 0;
}



//Animations

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes spindown {
    from { 
        top: -500px;
        transform: rotate(0deg);
    }
    to { 
        top: 0px;
        transform: rotate(360deg);
    }
}
@-webkit-keyframes spindown {
    from { 
        top: -500px;
        -webkit-transform: rotate(0deg);
    }
    to { 
        top: 0px;
        -webkit-transform: rotate(360deg);
    }
}
