/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
  background-color: $brand-color;
  padding: 10px 0px;
}

.site-title {
  margin-bottom: 0;
  float: left;
}

#header-logo {
  max-height: 140px;
  max-width: 90%;
}


.site-nav {
  z-index: 10;
  float: right;
  margin-top: 70px;
  font-size: $base-font-size;
  line-height: $base-line-height * $base-font-size * 2.25;
  

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $background-color;
    background-color: $brand-color;
    text-decoration: none;
    padding: 8px;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover {
      color: $brand-color;
      background-color: $background-color-grey;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color-grey;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: left;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
    }

    .page-link {
      display: block;
      padding: 10px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  background-color: $brand-color;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  width: 33.3%;
  text-align: center;
}

.footer-col, .footer-col a {
  color: $background-color;
  text-decoration: none;
}

.footer-col a:hover {
  color: $background-color-grey;
  text-decoration: underline;
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
 .page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}


.td-time {
  width: 15%
}

.td-meal {
  width: 35%;
}


h2, h3 {
  margin-top: 30px;
}

hr {
  margin-top: 40px;
}


// Prize Page

.prize-place {
  margin-bottom: 0;
}

.prize-name {
  font-size: x-large;
  margin-left: 8%;
}

.prize-detail {
  margin-left: 8%;
  width: 75%;
}


// FAQ Page

details, summary {
  margin: 20px 0px;
}

details p {
  margin-left: 25px;
}


// Sponsors Page

.sponsor-logos {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 50px;
}

.logo-column {
  flex: 30%;
  margin: 0 10px;
}

.logo-column img {
  margin: 20px 0;
  vertical-align: middle;
}